<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="./calculation" method="GET">
        <label for="x">x:</label>
        <input type="text" name="x" required>
        <label for="y">y:</label>
        <input type="text" name="y" required>
        <select name="arithmetic">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="submit" value="calculation">
    </form>

</body>

</html>