<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Pokemon Catalog</h1>
    <div>
        <button type="button" onclick="self.location.href='/pokemon'">Home</button>
    </div>
    <% for (var index= 0; index < nationalNo.length ; index++){ %>
        <a href="/pokemon?nationalNo=<%=nationalNo[index] %>">
            <img src='../Pokemons/Pokemons/<%=nationalNo[index] %>.png' alt="">
        </a>
        <% } %>





</body>

</html>