<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="./pokemon" method="GET">
        <label for="nationalNo">Enter National Number:</label>
        <input type="number" name="nationalNo">
        <input type="submit" value="search">
        <input type="reset" value="reset">
    </form>
    <button type="button" onclick="self.location.href='/pokemon/all'">Catalog</button>
</body>

</html>